@import "tailwindcss";

@theme {
  --color-background-app: #f5f7fb;
}

body {
  background-color: var(--color-background-app);
  color: #333;
  font-family: ui-sans-serif, system-ui, sans-serif;
  margin: 0;
}